/*global start*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
li {
  list-style: none;
}

.btn {
  font-size: 17px;
  font-weight: 800;
  background-color: #C19D60;
  border: 1px solid #C19D60;
  color: #fff;
  display: inline-block;
  padding: 11px 20px;
}
.btn:hover {
  background-color: #fff;
  border: 1px solid #C19D60;
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #0C0B0B;
  font-family: "Noah", sans-serif;
}
@media screen and (max-width: 992px) {
  p {
    font-size: 13px;
    line-height: 21px;
  }
}

h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: 75px;
  color: #fff;
}
@media screen and (max-width: 575px) {
  h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 395px) {
  h1 {
    font-size: 25px;
  }
}

h2 {
  color: #C19D60;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 10px;
  letter-spacing: 3px;
}

h3 {
  font-size: 48px;
  line-height: 48px;
  font-weight: 400;
  color: #0C0B0B;
}

h4 {
  font-size: 28px;
  line-height: 48px;
  font-weight: 400;
  color: #fff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 1.6rem;
  font-family: "Cormorant Garamond", serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}

a:focus {
  color: inherit;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

/*global end*/
/*header start*/
header.site-header {
  background: transparent;
  padding: 14px 0;
  font-weight: 700;
  text-transform: capitalize;
  color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  transition: 0.3s;
}

header.site-header.sticky {
  background: #0C0B0B;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding: 10px 0;
  position: fixed;
}

.sticky .site-logo img {
  width: 100%;
  max-width: 100px;
}

.site-header .site-nav ul li a.active {
  color: #C19D60;
}

.site-logo img {
  width: 100%;
  max-width: 300px;
}

.site-nav a {
  padding: 8px 12px !important;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.site-nav a:hover {
  color: #C19D60;
}

.site-header {
  padding: 10px 0;
}

.site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav ul {
  display: flex;
  align-items: center;
}

.closed-menu {
  display: none;
}

.menu-toggle {
  display: none !important;
}

/*header end*/
/*cookie start*/
.cookie-alert {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  margin: 0 !important;
  z-index: 999;
  opacity: 0;
  transform: translateY(100%);
  transition: all 500ms ease-out;
  left: 0;
}

.cookie-alert.show {
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 1000ms;
}

.card-body h4 {
  color: #C19D60;
}

a.btn.btn-primary.accept-cookies {
  background: #C19D60;
  padding: 6px 22px;
  font-size: 20px;
  border: 1px solid #C19D60;
  text-transform: capitalize;
}
a.btn.btn-primary.accept-cookies:hover {
  background-color: transparent;
  border: 1px solid #C19D60;
  color: #C19D60;
}

/*cookie end*/
/*homebanner-css-start*/
section.banner-section {
  position: relative;
  height: 500px;
  background-image: url(../images/homebanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section.banner-section::after {
  position: absolute;
  inset: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
}

.banner__text {
  z-index: 1;
}
.banner__text p {
  font-family: "Playfair Display", serif;
  color: #C19D60;
}

/*homebanner-css-end*/
/*explore-css-start*/
section.explore.section {
  padding: 50px 0;
}

.explore-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.explore-head p {
  max-width: 80%;
}
.explore-picture {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
.explore-picture img {
  max-width: 100%;
  height: 350px;
  object-fit: cover;
  width: 45%;
}

img.img-fluid.explorefirst {
  margin-top: 80px;
}

/*explore-css-end*/
/*choose-css-start*/
section.choose-main {
  background-color: rgba(193, 157, 96, 0.6588235294);
  background-image: url(../images/choosebg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.choose-head {
  padding: 50px 0;
}

.item {
  background: #fdfbf8;
  padding: 40px 20px;
  transition: 0.5s;
  position: relative;
  aspect-ratio: 1/0.5;
  z-index: 1;
  margin-bottom: 30px;
  line-height: 1;
  text-align: center;
  height: auto;
  width: 100%;
}
.item img {
  max-width: 64px;
  transition: 0.3s;
}
.item h5 {
  font-size: 24px;
  color: #0C0B0B;
  margin: 10px 0;
}
.item h5:hover {
  color: #C19D60;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.item p {
  margin: 0 auto;
  color: #0C0B0B;
  max-width: 65%;
}

.item span {
  font-size: 45px;
  color: #C19D60;
  line-height: 1;
  margin-bottom: 10px;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.item:hover span {
  color: #0C0B0B;
}

.item .shape {
  position: absolute;
  opacity: 0.03;
  z-index: -1;
  bottom: 15px;
  left: 120px;
}

.item .shape span {
  font-size: 140px;
  color: #0C0B0B;
}

.item:hover img {
  transform: rotateY(180deg);
}

/*choose-css-end*/
/*cuisine-css-start*/
section.cuisine__main {
  padding: 50px 0;
}

.cuisine__main .row.cuisine {
  row-gap: 40px;
}

.row.cuisine {
  margin: 30px 0;
}
.row.cuisine:last-of-type {
  margin-bottom: 0;
}

.cuisine__text {
  padding: 50px 0;
  text-align: justify;
}
.cuisine-btn a {
  display: inline-block;
  background: #C19D60;
  padding: 14px 20px;
  border-radius: 7px;
  font-size: 16px;
}
.cuisine-btn a:hover {
  color: #C19D60;
  background: #0C0B0B;
}
.cuisine__picture {
  position: relative;
}
.cuisine__picture img {
  height: 416px;
  object-fit: cover;
}
.cuisine__picture::after {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.71);
  height: 100%;
  width: 100%;
  content: "";
}
.cuisine__body {
  position: relative;
  overflow: hidden;
}
.cuisine__part {
  position: absolute;
  width: 100%;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 40px;
}
.cuisine__part p {
  color: #fff;
  margin: 20px 0;
  width: 100%;
}
.cuisine__part h3 {
  font-weight: 600;
}
.cuisine__part h4 {
  color: #C19D60;
  font-size: 25px;
  margin-bottom: 0;
}

.row.cuisine-space {
  margin-top: 30px;
}

.cuisine__body {
  transition: all 0.3s linear;
}

.cuisine__body:hover .cuisine__picture img {
  transform: scale(1.5);
}

.cuisine__picture img {
  height: 416px;
  object-fit: cover;
  transition: all 0.3s linear;
}

.cuisine__picture {
  overflow: hidden;
}

/*cuisine-css-end*/
/*links-css-start*/
section.link {
  background: #000;
  padding: 50px 0;
}

.link .row {
  row-gap: 40px;
}

.link-text {
  margin: -165px 20px 90px;
  padding: 20px 20px 30px 20px;
  background-color: rgba(193, 157, 96, 0.6588235294) !important;
  border: 1px solid rgba(193, 157, 96, 0.6588235294);
  border-radius: 0;
  overflow: hidden;
  transition: 0.2s cubic-bezier(0.3, 0.58, 0.55, 1);
  bottom: -90px;
  position: relative;
  transition: 0.3s;
}
.link-text:hover {
  transform: translateY(-20px);
}
.link-btn a {
  display: inline-block;
  height: auto;
  padding: 12px 25px;
  border: 1px solid #fff;
  border-radius: 0;
  background-color: transparent;
  -webkit-transition: border-color 400ms ease, color 400ms ease, background-color 400ms ease;
  transition: border-color 400ms ease, color 400ms ease, background-color 400ms ease;
  color: #fff;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  font-size: 14px;
}
.link-btn a:hover {
  background: #C19D60;
}
.link-picture {
  overflow: hidden;
}
.link-picture img {
  height: 450px;
  object-fit: cover;
  transition: 0.3s;
}
.link-picture img:hover {
  transform: scale(1.1);
  filter: brightness(100%);
}

/*links-css-end*/
/*lasttext-css-start*/
.lasttext {
  padding: 50px 0;
}

.lasttext-content {
  box-shadow: 0 0 10px 0 #C19D60;
  padding: 20px;
}
.lasttext-content h3 {
  color: #C19D60;
}

/*lasttext-css-end*/
/*Hotels-css-start*/
section.hotels-section {
  position: relative;
  height: 350px;
  background-image: url(../images/hotelsbanner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section.hotels-section::after {
  position: absolute;
  inset: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
}

section.Page2 {
  padding-bottom: 0;
}
section.Page2 .page-wrapper .row .col-sm-12.col-lg-4.col-md-6:nth-child(4),
section.Page2 .page-wrapper .row .col-sm-12.col-lg-4.col-md-6:nth-child(5),
section.Page2 .page-wrapper .row .col-sm-12.col-lg-4.col-md-6:nth-child(6),
section.Page2 .page-wrapper .row .col-sm-12.col-lg-4.col-md-6:nth-child(7),
section.Page2 .page-wrapper .row .col-sm-12.col-lg-4.col-md-6:nth-child(8),
section.Page2 .page-wrapper .row .col-sm-12.col-lg-4.col-md-6:last-child {
  margin-top: 16px;
}
section.Page2 .page-wrapper .boxs {
  height: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #fff;
  position: relative;
  padding-bottom: 60px;
  transition: all 0.3s ease-in-out;
}
section.Page2 .page-wrapper .boxs:hover {
  transform: translateY(-6px);
}
section.Page2 .page-wrapper .boxs figure.imgfigure {
  position: relative;
}
section.Page2 .page-wrapper .boxs figure.imgfigure img {
  height: 274px;
  object-fit: cover;
}
section.Page2 .page-wrapper .boxs figure.imgfigure::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(198, 171, 114, 0.5607843137);
  transform: scale(0);
  transition: all 0.5s;
  width: 100%;
  height: 100%;
}
section.Page2 .page-wrapper .boxs figure.imgfigure:hover::after {
  transform: scale(1);
}
section.Page2 .page-wrapper .boxs .page-content-box {
  padding: 0px 14px 20px;
}
section.Page2 .page-wrapper .boxs .page-content-box h3 {
  color: #C19D60;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 3px;
  line-height: 26px;
}
section.Page2 .page-wrapper .boxs .page-content-box h6 {
  font-size: 20px !important;
  color: #C19D60;
  margin-bottom: 14px;
}
section.Page2 .page-wrapper .boxs .page-content-box h6 span {
  color: #0C0B0B;
}
section.Page2 .page-wrapper .boxs .page-content-box .page-btn {
  position: absolute;
  bottom: 10px;
}
section.Page2 .page-wrapper .boxs .page-content-box .page-btn a {
  display: inline-block;
  margin: 10px;
  background: #C19D60;
  color: #fff;
  padding: 10px 40px;
  font-family: "Montserrat";
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #C19D60;
  transition: all 0.3s ease-in-out;
}
section.Page2 .page-wrapper .boxs .page-content-box .page-btn a:hover {
  background-color: transparent;
  border: 1px solid #C19D60;
  color: #C19D60;
}

/*Hotels-css-start*/
section.casino-hotels {
  position: relative;
  height: 350px;
  background-image: url(../images/casinohotelbanner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section.casino-hotels::after {
  position: absolute;
  inset: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
}

/*betting-section-start*/
.main-img-text-content {
  display: flex;
  align-items: center;
  background: #fff;
  justify-content: space-between;
  border: 2px solid #1b212f;
  padding: 23px;
  border-radius: 4px;
}

.restaurant-img {
  width: 100%;
  max-width: 30%;
}
.restaurant-img img {
  height: 200px;
  object-fit: cover;
}

.restaurent-text {
  max-width: 100%;
  margin-left: 0;
  padding: 0 40px;
  width: 100%;
}
.restaurent-text h4 {
  color: #C19D60;
}
.restaurent-text p {
  font-size: 17px;
  color: #1b212f;
}

.resturent-button {
  width: 100%;
  max-width: 10%;
  margin-left: 20px;
}

.resturent-button a {
  display: block;
  width: 126px;
  background: #1b212f;
  text-align: center;
  color: #fff;
  height: 53px;
  line-height: 53px;
  font-size: 19px;
  border-radius: 5px;
}
.resturent-button a:hover {
  background-color: #C19D60;
}

.row.restaurant {
  padding-top: 15px;
}

/*betting-section-end*/
/*Start Faq css*/
.faq-page {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.casino-text.hoteli {
  padding: 0 0 50px 0 !important;
}

.faq-item {
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-item:last-child {
  border-bottom: none;
}

.faq-question {
  font-size: 18px;
  line-height: 25px;
  color: #C19D60;
  font-family: "Cormorant Garamond";
  font-weight: 700;
}

.faq-section {
  padding: 50px 0 0 0;
}

.faq-answer {
  font-size: 16px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  padding-left: 10px;
  padding-right: 10px;
}
.faq-answer p {
  padding-top: 25px;
  padding-bottom: 25px;
}

.faq-answer.active {
  border-bottom: 1px solid #e0e0e0;
}

.icon-container i {
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.icon-container i.active {
  transform: rotate(90deg);
}

/*End Faq css*/
section.ecofriendly {
  position: relative;
  height: 350px;
  background-image: url(../images/ecofriendlybanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section.ecofriendly::after {
  position: absolute;
  inset: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
}

.section-title.two h1 {
  color: #0C0B0B;
}
.section-title.two h2 {
  color: #C19D60;
}

.facilities-area .section-title {
  margin-bottom: 51px;
}

.facilities-area .luxury-button {
  text-align: right;
  margin-top: 0;
}

.facilities-area .luxury-button:before {
  right: -295px;
  background: #0C0B0B;
}

.facilities-area .luxury-button a {
  color: #0C0B0B;
  border: 1px solid #0C0B0B;
  background: transparent;
}

.facilities-area .luxury-button a:before {
  background: #0C0B0B;
}

.facilities-area .luxury-button a:hover {
  color: #fff;
}

.facilities-area .row.add-boder {
  border-top: 1px solid rgba(97, 97, 97, 0.2588235294);
  padding: 39px 0;
}
.facilities-area .row.add-boder:last-of-type {
  padding-bottom: 0;
}

.single-facilities-box {
  position: relative;
  margin-left: 107px;
}

.single-facilities-box.two {
  margin: 0;
  margin-right: 100px;
}

.facilities-content h4 {
  font-size: 16px;
  line-height: 50px;
  color: #C19D60;
  font-weight: 900;
  text-transform: uppercase;
}
.facilities-content h5 {
  font-size: 32px;
  line-height: 26px;
  color: #0C0B0B;
  font-weight: 600;
}
.facilities-content p {
  margin-top: 46px;
  position: relative;
  margin-bottom: 40px;
}
.facilities-content p::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 30px;
  left: 0;
  top: -35px;
  background: rgba(97, 97, 97, 0.3490196078);
}

a.facilities-button i {
  display: inline-block;
  color: #0C0B0B;
  font-size: 18px;
  transition: 0.5s;
}

img.rightarrow {
  width: 40px;
  transition: 0.3s;
}
img.rightarrow:hover {
  filter: invert(79%) sepia(30%) saturate(531%) hue-rotate(351deg) brightness(78%) contrast(92%);
  margin-left: 10px;
}

a.facilities-button i:hover {
  color: #C19D60;
}

.facilities-number {
  position: absolute;
  left: -21%;
  top: -18px;
}

.facilities-number.two {
  position: absolute;
  left: 111%;
  top: -18px;
}

.facilities-number h1 {
  font-size: 40px;
  color: #C19D60;
  font-weight: 500;
}

section.budget {
  position: relative;
  height: 350px;
  background-image: url(../images/budgetbanner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section.budget::after {
  position: absolute;
  inset: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
}

section.konference {
  position: relative;
  height: 350px;
  background-image: url(../images/konferencebanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section.konference::after {
  position: absolute;
  inset: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
}

.konference-text h5 {
  color: #C19D60;
  font-size: 25px;
}

.page-btn a {
  display: inline-block;
  margin: 10px 0;
  background: #C19D60;
  color: #fff;
  padding: 10px 40px;
  font-family: "Montserrat";
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #C19D60;
  transition: all 0.3s ease-in-out;
}
.page-btn a:hover {
  color: #C19D60;
  background-color: transparent;
  border: 1px solid #C19D60;
}

.konference-text {
  padding: 30px 0;
  max-width: 450px;
}
.konference-picture img {
  border-radius: 10px;
  max-width: 450px;
  height: 350px;
  object-fit: cover;
}
.konference-main {
  height: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #fff;
  position: relative;
  padding-bottom: 60px;
  transition: all 0.3s ease-in-out;
}

.cuisine__main.konferanse {
  padding: 0;
}

section.besthotels {
  position: relative;
  height: 350px;
  background-image: url(../images/besthotelsbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section.besthotels::after {
  position: absolute;
  inset: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
}

/*contact-css-start*/
section.contact__banner {
  position: relative;
  height: 300px;
  background-image: url(../images/contactbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 90px;
}
section.contact__banner::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45);
  height: 100%;
  z-index: 0;
}

.contact__content span {
  color: #0C0B0B;
  font-size: 18px;
}

.about_us_content {
  background-color: #fff;
  padding: 2rem;
  margin: 30px 0;
  width: 100%;
}

.form-group {
  margin-bottom: 2rem;
}

.input-control {
  display: block;
  width: 100%;
  height: 4rem;
  border: 1px solid #0C0B0B;
  padding: 2rem 2rem;
  background: transparent;
  color: #0C0B0B;
}

textarea.input-control {
  resize: none;
  height: auto;
}

.form-group .submit-btn {
  background: transparent;
  border: 1px solid #0C0B0B;
  transition: all 0.2s linear;
  display: inline-block;
  padding: 0.8rem 4rem;
  color: #fff;
  text-transform: capitalize;
}
.form-group .submit-btn:hover {
  background-color: #0C0B0B;
}

.input-control:focus-visible {
  outline: none;
}

.form-group label {
  display: inline-block;
  padding-bottom: 5px;
  color: #C19D60;
  transition: all 0.2s linear;
  text-transform: capitalize;
  font-weight: 800;
}

button.submit-btn {
  color: #0C0B0B !important;
}
button.submit-btn:hover {
  background-color: #C19D60 !important;
  border-color: #C19D60 !important;
  color: #fff !important;
}

.content-wrap h4 {
  color: #C19D60;
}

.contact__section {
  position: relative;
  height: 350px;
  background-image: url(../images/contactbanner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 0;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contact__section::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: -1;
}

/*contact-css-end*/
/*privacy-policy start*/
.privacy__section {
  position: relative;
  height: 350px;
  background-image: url(../images/privacybanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 0;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.privacy__section::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: -1;
}

.privacy-policy {
  padding: 40px 0;
}
.privacy-policy .content-wrap li {
  font-size: 15px;
  font-family: "Noah", sans-serif;
}

.terms {
  padding: 40px 0;
}
.terms .content-wrap li {
  font-size: 15px;
  font-family: "Noah", sans-serif;
}

/*privacy-policy end*/
/*terms-conditon start*/
.terms__section {
  position: relative;
  height: 350px;
  background-image: url(../images/termsbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin-top: 0;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.terms__section::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: -1;
}

/*terms-conditon-end/

/*footer-css-start*/
.footer {
  background-color: #0C0B0B;
  padding: 50px 0;
}
.footer-logo {
  max-width: 124px;
}
.footer-links a {
  color: #fff;
}
.footer-links a:hover {
  color: #C19D60;
}
.footer-adresse p {
  color: #fff;
}
.footer-mails a {
  color: #fff;
}
.footer-mails {
  display: flex;
  flex-direction: column;
}

.mails-names {
  gap: 16px;
  display: flex;
  align-items: end;
}

.social-signals {
  margin-top: 25px;
}
.social-signals i {
  color: #C19D60;
  border-radius: 30px;
  font-size: 25px;
  margin: 0 10px;
  border: 1px solid #C19D60;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 36px;
}
.social-signals i:hover {
  color: #fff;
}

.footer_bottom {
  border-top: 1px solid #fff;
  padding: 10px;
  margin: 30px 0;
}
.footer_bottom p {
  text-align: center;
}
.footer_bottom p a {
  color: #fff;
}
.footer_bottom p a:hover {
  color: #C19D60;
}

/*footer-css-end*/


/*# sourceMappingURL=style.css.map */
